In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\akshi\Documents\C4_PYTHON\PRACTISE\DS1_C4_S3_SalesData_Practice (1).csv')

In [3]:
#task1
sales = data['Sales']
sort_sales = sales.sort_values(ascending = True)
sort_sales

0     21080
13    21357
18    21394
14    22130
2     22369
24    22541
12    23475
9     23851
19    25184
15    26073
4     27113
11    27215
5     27573
25    28500
23    28943
22    29697
27    30200
17    30279
6     31244
8     31768
26    32896
1     32985
10    33274
28    37098
20    37649
29    41098
21    44597
3     45710
16    45919
7     48624
Name: Sales, dtype: int64

In [4]:
#task2
sal_filter = data.Sales[data["Sales"] >= 45000] #filtering the column above 45000 values
sal_filter

3     45710
7     48624
16    45919
Name: Sales, dtype: int64

In [5]:
#task3
#using loc extracting the row values that are related state and then sort the sales values by extracting the sales valuse 
df1 = data.loc[data.State == 'California']
df2 = data.loc[data.State == "Texas"]
df3 = data.loc[data.State == "Montana"]
sort_df1_values = df1.sort_values(by='Sales',ascending = True)
sort_df2_values = df2.sort_values(by='Sales',ascending = True)
sort_df3_values = df3.sort_values(by='Sales',ascending = True)
print(sort_df1_values )
print(sort_df2_values) 
print(sort_df3_values)

   Month Store  Sales       State
2    Jan     C  22369  California
12   Mar     C  23475  California
22   May     C  29697  California
27   Jun     C  30200  California
17   Apr     C  30279  California
7    Feb     C  48624  California
   Month Store  Sales  State
11   Mar     B  27215  Texas
6    Feb     B  31244  Texas
26   Jun     B  32896  Texas
1    Jan     B  32985  Texas
21   May     B  44597  Texas
16   Apr     B  45919  Texas
   Month Store  Sales    State
13   Mar     D  21357  Montana
18   Apr     D  21394  Montana
23   May     D  28943  Montana
8    Feb     D  31768  Montana
28   Jun     D  37098  Montana
3    Jan     D  45710  Montana

In [6]:
#task4
state1 = data.loc[data.State == 'California']
state2 = data.loc[data.State == "Texas"]
state3 = data.loc[data.State == "Montana"]
sum_sales1 = state1['Sales'].sum()
sum_sales2 = state2['Sales'].sum()
sum_sales3 = state3['Sales'].sum()
print(f"Total sales in the state of California {sum_sales1}")
print(f"Total sales in the state of Texas {sum_sales2}")
print(f"Total sales in the state of Montana {sum_sales3}")

Total sales in the state of California 184644
Total sales in the state of Texas 214856
Total sales in the state of Montana 186270

In [7]:
#Task5
state = data.loc[data.State == 'California']
max_score = state['Sales'].max()
min_score = state['Sales'].min()
print(max_score)
print(min_score)

48624
22369

In [8]:
#Task6
# Filter full rows for each state
s1 = data[data["State"] == "Alaska"]
s2 = data[data["State"] == "California"]
s3 = data[data["State"] == "Texas"]
s4 = data[data["State"] == "Montana"]
s5 = data[data["State"] == "New Mexico"]
sale1 = s1['Sales'].sum()
sale2 = s2['Sales'].sum()
sale3 = s3['Sales'].sum()
sale4 = s4['Sales'].sum()
sale5 = s5['Sales'].sum()
result_df = pd.DataFrame({
    "State": ["Alaska", "California", "Texas", "Montana", "New Mexico"],
    "Sale in thousands": [sale1, sale2, sale3, sale4, sale5]
})

print(result_df)

        State  Sale in thousands
0      Alaska             174149
1  California             184644
2       Texas             214856
3     Montana             186270
4  New Mexico             161917

In [17]:
#Task7
sorted_values = result_df['Sale in thousands'].sort_values(ascending=True)
df1.to_csv("sorted_values",index=True)