In [3]:
#task1

import numpy as np
HR = np.arange(1,4)
IT = np.arange(4,19)
Finance = np.arange(19,24)
Sales = np.arange(24,31)
print(f"The HR department employee IDs are: {HR}")
print(f"The IT department employee IDs are: {IT}")
print(f"The Finance department employee IDs are: {Finance}")
print(f"The Sales department employee IDs are: {Sales}")

The HR department employee IDs are: [1 2 3]
The IT department employee IDs are: [ 4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
The Finance department employee IDs are: [19 20 21 22 23]
The HR department employee IDs are: [24 25 26 27 28 29 30]

In [47]:
#task2
sal_Hr = np.array(["50","60","57"],dtype = int)
sal_It = np.array(["67","67","67","67","67","67","67","67","67","67","67","67","67","67","67"],dtype = float)
sal_Finance = np.array(["60","65","50","70","87"], dtype = int)
sal_Sales =np.array(["50","60","65","90","56","65","71"], dtype = int)
print(f"The salaries of 3 employees in HR department are: {sal_Hr}")
print(f"The salaries of 15 employees in IT department are: {sal_It}")
print(f"The salaries of 5 employees in Finance department are: {sal_Finance}")
print(f"The salaries of 7 employees in Sales department are: {sal_Sales}")

The salaries of 3 employees in HR department are: [50 60 57]
The salaries of 15 employees in IT department are: [67. 67. 67. 67. 67. 67. 67. 67. 67. 67. 67. 67. 67. 67. 67.]
The salaries of 5 employees in Finance department are: [60 65 50 70 87]
The salaries of 7 employees in Sales department are: [50 60 65 90 56 65 71]

In [17]:
#task3_1
avg_Hr = np.average(sal_Hr)
avg_It = np.average(sal_It)
avg_Finance = np.average(sal_Finance)
avg_Sales = np.average(sal_Sales)
print(f"The average salary for Hr department is: {avg_Hr}")
print(f"The average salary for IT department is: {avg_It}")
print(f"The average salary for Finance department is: {avg_Finance}")
print(f"The average salary for Sales department is: {avg_Sales}")
#max_salary_dept = max(avg_Hr,avg_It,avg_Finance,avg_Sales)
#print(f"The max averagwith  the value is : {max_salary_dept }")

The average salary for Hr department is: 55.666666666666664
The average salary for IT department is: 67.0
The average salary for Finance department is: 66.4
The average salary for Sales department is: 65.28571428571429
The max average salary department is IT with  the value is : 67.0

In [19]:
#task4
max_Hr = np.max(sal_Hr)
max_Finance = np.max(sal_Finance)
print(f"Highest salary in Hr department is: {max_Hr}")
print(f"Highwst value in Finance department is: {max_Finance}")

Highest salary in Hr department is: 60
Highwst value in Finance department is: 87

In [53]:
#task5
sal_It = [67] * 15
updated_sal_It = []
for sal in sal_It:
    updated_salary = sal * 1.05
    updated_sal_It.append(updated_salary)
    print(f"Updated salary for IT department is: {updated_salary}")

Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001
Updated salary for IT department is: 70.35000000000001