In [1]:
# TASK1
# H0 MU <= 221.3
# HA MU > 221.3
# right tailed z test
n = 40
mu = 221.3
alpha = 0.05
sigma = 74.83

In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\akshi\Documents\C8\DS1_C8_Computers_Data_Project.csv')
df

,index,price,speed,hd,ram,screen,cd,multi,premium,ads_2022,ads_2023,trend
0,1,1499,25,80,4,14,no,no,yes,94,94,1
1,2,1795,33,85,2,14,no,no,yes,94,94,1
2,3,1595,25,170,4,15,no,no,yes,94,94,1
3,4,1849,25,170,8,14,no,no,no,94,94,1
4,5,3295,33,340,16,14,no,no,yes,94,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6254,6255,1690,100,528,8,15,no,no,yes,39,70,35
6255,6256,2223,66,850,16,15,yes,yes,yes,39,70,35
6256,6257,2654,100,1200,24,15,yes,no,yes,39,70,35
6257,6258,2195,100,850,16,15,yes,no,yes,39,70,35
6258,6259,2490,100,850,16,17,yes,no,yes,39,70,35

In [3]:
import statistics as stats
avg_price = stats.mean(df["price"])
print(avg_price)
std_price = stats.stdev(df["price"])
print(std_price)
len_d = len(df)
len_d

2219.576609682058
580.8039556527063

6259

In [4]:
data = df.sample(n = 40, random_state = 42)
data

,index,price,speed,hd,ram,screen,cd,multi,premium,ads_2022,ads_2023,trend
2304,2305,1578,25,120,4,14,no,no,no,275,275,12
3621,3622,2495,100,540,8,15,yes,no,yes,339,339,17
5821,5822,1790,66,730,8,15,yes,yes,yes,132,132,28
2707,2708,2495,66,426,8,14,yes,no,yes,292,292,14
2596,2597,1695,33,214,4,14,no,no,yes,292,292,14
1892,1893,1644,33,107,2,14,no,no,yes,259,259,11
1149,1150,2495,25,540,16,14,no,no,yes,298,298,8
468,469,2599,50,405,8,14,no,no,yes,139,139,5
3275,3276,2490,33,528,16,14,yes,no,yes,307,307,16
5735,5736,2499,100,850,16,15,yes,no,yes,132,132,28
5205,5206,2044,50,528,8,14,yes,no,yes,182,182,24
2387,2388,2695,33,528,16,14,no,no,yes,216,216,13
4183,4184,1999,66,527,8,14,yes,yes,yes,225,225,19
239,240,3795,66,500,8,14,no,no,yes,100,100,3
469,470,3720,66,500,8,14,yes,no,yes,139,139,5
3558,3559,2099,33,420,8,14,yes,no,yes,339,339,17
6217,6218,2744,66,1200,24,15,yes,no,yes,39,39,34
4397,4398,1895,66,730,8,15,no,no,yes,248,248,20
3483,3484,1999,66,340,8,15,yes,no,yes,339,339,17
5167,5168,1199,33,340,4,14,no,no,yes,182,182,24
3158,3159,1290,25,107,2,15,no,no,yes,307,307,16
800,801,2799,33,240,4,14,no,no,no,249,249,7
208,209,2295,66,170,4,14,no,no,yes,100,100,3
233,234,2195,33,170,8,15,no,no,yes,100,100,3
5023,5024,1604,50,214,4,14,no,no,yes,191,191,23
2095,2096,1990,33,214,4,15,no,no,yes,275,275,12
23,24,2875,50,210,4,17,no,no,yes,94,94,1
5401,5402,1899,100,545,8,15,yes,no,yes,152,152,26
1891,1892,1695,25,214,4,14,no,no,yes,259,259,11
996,997,2090,25,426,8,15,no,no,yes,298,298,8
755,756,1999,33,245,8,14,no,no,yes,249,249,7
2377,2378,2328,66,212,4,14,no,no,no,216,216,13
1789,1790,3199,66,340,16,15,yes,no,yes,259,259,11
4467,4468,2095,66,730,8,15,yes,no,yes,248,248,20
2799,2800,1819,33,120,4,14,no,no,no,292,292,14
3836,3837,2095,66,540,8,15,no,no,yes,273,273,18
3038,3039,1495,50,107,2,14,no,no,yes,267,267,15
2552,2553,1999,33,340,8,14,yes,no,yes,292,292,14
3196,3197,3239,50,340,8,17,no,no,no,307,307,16
1860,1861,2390,66,424,4,14,yes,yes,yes,259,259,11

In [5]:
# sample mean of adv_2023  premium computers by randomly selecting 40 computers
import statistics as stats
sample = data[(data["premium"] == "yes")]
budget = sample["ads_2023"]
avg1 = stats.mean(budget)
avg1

223.4857142857143

In [6]:
from scipy.stats import norm
z_crit = norm.ppf(1-0.05)
z_crit

1.6448536269514722

In [7]:
z_stats = (avg1-mu)/(sigma/n**0.5)
z_stats

0.1847343433709786

In [8]:
p_value = norm.sf(abs(1-alpha))
p_value

0.17105612630848183

In [9]:
p_value<alpha

False

In [10]:
z_stats>z_crit

False

In [11]:
# Accept the null hypothesis means advertisng budget spent on promoting premium computers is lesser than or equal to 221.3

In [12]:
# TASK2
# H0 MU1 = MU2
# HA MU1 != MU2
# two-tailed z test
alpha_by_2 = 0.05/2
filter1 = df[df["cd"] == "yes"]
price1 = filter1["price"]
df1 = pd.DataFrame(price1)
print(df1)
avg_1 = stats.mean(df1["price"])
std_p = stats.stdev(df1["price"])
print("average price of cd players: ",avg_1)
print("standard d1eviation price of cd players: ",std_p)

      price
6      1720
30     1920
63     2220
70     4020
77     3220
...     ...
6253   2154
6255   2223
6256   2654
6257   2195
6258   2490

[2908 rows x 1 columns]
average price of cd players:  2342.6055708390645
standard d1eviation price of cd players:  527.4477919505294

In [13]:
filter2 = df[df["cd"] == "no"]
price2 = filter2["price"]
df2 = pd.DataFrame(price2)
print(df2)
avg_2 = stats.mean(df2["price"])
std_p2 = stats.stdev(df2["price"])
print("average price of without cd players: ",avg_2)
print("standard d1eviation price of cd players: ",std_p2)

      price
0      1499
1      1795
2      1595
3      1849
4      3295
...     ...
6240   1595
6246   1554
6247   1654
6252   1690
6254   1690

[3351 rows x 1 columns]
average price of without cd players:  2112.8119964189796
standard d1eviation price of cd players:  603.494237086272

In [14]:
filter11 = data[data["cd"] == "yes"]
price11 = filter11["price"]
df11 = pd.DataFrame(price11)
print(df11)
avg_11 = stats.mean(df11["price"])
n1 = len(price1)
print("average price of sample cd players: ",avg_11)
n1

      price
3621   2495
5821   1790
2707   2495
3275   2490
5735   2499
5205   2044
4183   1999
469    3720
3558   2099
6217   2744
3483   1999
5401   1899
1789   3199
4467   2095
2552   1999
1860   2390
average price of sample cd players:  2372.25

2908

In [15]:
filter22 = data[data["cd"] == "no"]
price22 = filter22["price"]
df22 = pd.DataFrame(price22)
print(df22)
avg_22 = stats.mean(df22["price"])
n2 = len(price22)
print("average price of sample without cd players: ",avg_22)
n2

      price
2304   1578
2596   1695
1892   1644
1149   2495
468    2599
2387   2695
239    3795
4397   1895
5167   1199
3158   1290
800    2799
208    2295
233    2195
5023   1604
2095   1990
23     2875
1891   1695
996    2090
755    1999
2377   2328
2799   1819
3836   2095
3038   1495
3196   3239
average price of sample without cd players:  2141.7916666666665

24

In [16]:
z_stats = ((avg_11 - avg_22) - (avg_1 - avg_2)) / ((((std_p)**2) / n1 + (std_p2**2) / n2) ** 0.5)
z_stats

0.005379377491825997

In [17]:
z_crit = norm.ppf(1-alpha_by_2)
z_crit

1.959963984540054

In [18]:
p_value = norm.sf(abs(z_stats))*2
p_value

0.9957078984531443

In [19]:
p_value<alpha

False

In [20]:
-z_crit>z_stats>z_crit

False

In [21]:
# Accept the null hypothesis means average price of computers with CD players and computers without CD players are equal

In [22]:
# TASK3_a
# H0 mu = 2200
# HA mu != 2200
# two - tailed t-test
n=25
alpha = 0.05
data = df.sample(n = 25, random_state = 42)
data

,index,price,speed,hd,ram,screen,cd,multi,premium,ads_2022,ads_2023,trend
2304,2305,1578,25,120,4,14,no,no,no,275,275,12
3621,3622,2495,100,540,8,15,yes,no,yes,339,339,17
5821,5822,1790,66,730,8,15,yes,yes,yes,132,132,28
2707,2708,2495,66,426,8,14,yes,no,yes,292,292,14
2596,2597,1695,33,214,4,14,no,no,yes,292,292,14
1892,1893,1644,33,107,2,14,no,no,yes,259,259,11
1149,1150,2495,25,540,16,14,no,no,yes,298,298,8
468,469,2599,50,405,8,14,no,no,yes,139,139,5
3275,3276,2490,33,528,16,14,yes,no,yes,307,307,16
5735,5736,2499,100,850,16,15,yes,no,yes,132,132,28
5205,5206,2044,50,528,8,14,yes,no,yes,182,182,24
2387,2388,2695,33,528,16,14,no,no,yes,216,216,13
4183,4184,1999,66,527,8,14,yes,yes,yes,225,225,19
239,240,3795,66,500,8,14,no,no,yes,100,100,3
469,470,3720,66,500,8,14,yes,no,yes,139,139,5
3558,3559,2099,33,420,8,14,yes,no,yes,339,339,17
6217,6218,2744,66,1200,24,15,yes,no,yes,39,39,34
4397,4398,1895,66,730,8,15,no,no,yes,248,248,20
3483,3484,1999,66,340,8,15,yes,no,yes,339,339,17
5167,5168,1199,33,340,4,14,no,no,yes,182,182,24
3158,3159,1290,25,107,2,15,no,no,yes,307,307,16
800,801,2799,33,240,4,14,no,no,no,249,249,7
208,209,2295,66,170,4,14,no,no,yes,100,100,3
233,234,2195,33,170,8,15,no,no,yes,100,100,3
5023,5024,1604,50,214,4,14,no,no,yes,191,191,23

In [23]:
d1 = data[(data["premium"] == "yes")]
d2 = d1["price"]
avg1 = stats.mean(d2)
avg1

2251.086956521739

In [24]:
t_stats = (avg1-avg_price)/(std_price/(n)**0.5)
t_stats

0.2712649124804061

In [25]:
from scipy.stats import t
t_critical = t.ppf(1 - alpha_by_2, len_d-1)
t_critical

1.9603431347986089

In [26]:
p_value =  2 * (1 - t.cdf(abs(t_stats), len_d-1))
p_value

0.7861962380048131

In [27]:
p_value < alpha

False

In [28]:
-t_critical>t_stats>t_critical

False

In [29]:
# Accept the null hypotheis means average value = 2200